[Desktop Entry]
Version=1.0
GenericName=Currency converter
Name=CurrencyConv
Type=Application
Icon=currencyconv
Keywords=currency;converter
Exec=currencyconv
Categories=Utility;Qt;Finance;
Terminal=false
Name[en_US]=CurrencyConv
